/*primary color*/
.bg-cream {
    background-color: #1D50F9;
}

.nav-bg {
    background-color: #1D50F9;
}

/*smooth scroll*/
html {
	scroll-behavior: smooth;
}

/*font*/
body {
    font-family: 'Poppins', sans-serif;
}

.bg-yellow-500 {
    background-color: #58D0F6;
}
.text-blue-500 {
    color: #A4E9FF;
}
.floating { 
    animation-name: floating; 
    animation-duration: 3s; 
    animation-iteration-count: infinite; 
    animation-timing-function: ease-in-out;
} 
@keyframes floating { 
    0% { transform: translate(0, 0px); } 
    50% { transform: translate(0, 8px); } 
    100% { transform: translate(0, -0px); }  
} 
.floating-4 { 
    animation-name: floating; 
    animation-duration: 4s; 
    animation-iteration-count: infinite; 
    animation-timing-function: ease-in-out;
} 
@keyframes floating-4 { 
    0% { transform: translate(0, 0px); } 
    50% { transform: translate(0, 8px); } 
    100% { transform: translate(0, -0px); }  
}
.text-darken {
    color: #2F327D;
}

@media (max-width:768px) {
    .pics {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        margin: auto;
    }
}